*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}

/* ==================== header style ================== */
header{
    background-color: #333; 
    height: 90px;
    padding: 10px 0;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-content .logo{  
    font-size: 32px;
    color:rgb(204, 250, 250);
    text-decoration: none;
    text-transform: capitalize;
}
 nav ul{
    display: flex;
    list-style: none;
}
nav ul#user-info{
    display: none;
}
nav ul#user-info li{
    position: relative;
    margin:0 5px ;
}
nav ul#user-info li i{
    color: white;
    cursor: pointer;
    font-size: 20px;
}
nav ul#user-info li .badge{
    width: 20px;
    height: 20px;
    background: tomato  ;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 24px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
}
nav ul#user-info .list-products{
    position: absolute;
    width: 230px;
    transform: translate(-50%, 0);
    border: 1px solid greenyellow;
    top: 75px;
    padding: 10px;
    background: #eaeaea;
    display: none;
}
nav ul#user-info .list-products a{
    color: teal;
    text-decoration: none;
    text-align: center;
    background: rgb(253, 212, 251);
    margin: 10px 0;
}
nav li a{
    color:rgb(204, 250, 250);
    display: block;
    min-width: 50px;
    margin: 0 5px;
    padding: 5px;
    /* background: turquoise */

}

/* ==================== section form ================== */
.section-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 70%;
    text-align: center;
    background-color: rgb(253, 212, 251);
    padding: 20px;
    box-shadow: 0 20px 30px 0px rgb(126, 127, 128);

}
.section-form h2{
    font-size: 60px;
    letter-spacing: 2px;
    color: teal;
    text-transform: capitalize;
}
.section-form form{

}
.section-form form input{
    display: block;
    width: 100%;
    margin: 10px 0;
    height: 40px;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(220, 247, 247);

}
.section-form form input[type="submit"]{
    text-transform: uppercase;
    font-size: 24px;
    height: auto;
    cursor: pointer; 
}
.section-form form input[type="submit"]:hover{
    opacity: 0.5;
}
/* ================== home section ======================*/
.products{
width: 60%;
margin: 10px 0 ;

}
.product-item{
    border: 1px solid gray;
display: flex;  
width: 100%;  
margin: 10px  0;
height: 250px;

}
.product-item-img{
    width: 30%;

    margin-right: 10px;
}
.product-item-actions{
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.product-item-actions   .add-to-cart{ 
    display: block;
    margin-left: auto;
    background-color:rgb(253, 212, 251);
    color: teal;
    border: 0;
    padding: 10px 20px;
    font-size: 16px;

    cursor: pointer;
}
.product-item-actions  .favorite{

}